@model MvcFlash.Core.Messages.MessageBase
<div class="alert alert-@Model.MessageType">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>@Model.Title!</strong> @Model.Content
</div>